html, body {
    width: 100vw;
    height: 100vh;
    // overflow: hidden;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--color-on-bg);
    background-color: var(--color-bg);
    scroll-behavior: smooth;
}

html * {
    font-family: var(--text-body);
    // font-size: var(--font-size-xl);
}

a {
    color: var(--color-on-bg);
    text-decoration: none;
    // font-size: var(--font-size-xl);
    // font-weight: 600;
}
